.layoutflow {
  flex-grow: 1;
  position: relative;
  height: 100%;
}

.layoutflow .controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  font-size: 12px;
}

.layoutflow .controls button:first-child {
  margin-right: 10px;
}

/* Default edge style */
.default-edge .react-flow__edge-path {
  stroke: #ddd;
  stroke-width: 1px;
}
.default-edge text.react-flow__edge-text {
  fill: #ddd;
}

/* Highlighted edge style */
.highlighted-edge .react-flow__edge-path {
  stroke: red;
  stroke-width: 2px;
}