.layoutflow {
  flex-grow: 1;
  position: relative;
  height: 100%;
}

/* Control buttons */
.layoutflow .controls .pair {
  margin-right: 10px;
  display: inline-block;
}
.layoutflow .controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  font-size: 12px;
}
.controls button {
  border: 1px solid #ddd;
  color: #aaa;
  cursor: pointer;
}
.controls button:first-child {
  border-radius: 5px 0 0 5px;
}
.controls button:last-child {
  border-radius: 0 5px 5px 0;
}
.controls button.active {
  background-color: #bcdcff;
  color: black;
}

/* Default edge style */
.default-edge .react-flow__edge-path {
  stroke: #ddd;
  stroke-width: 1px;
}
.default-edge text.react-flow__edge-text {
  fill: #ddd;
}

/* Highlighted edge style */
.highlighted-edge .react-flow__edge-path {
  stroke: rgb(77, 134, 255);
  stroke-width: 2px;
}
